

/* <----HOMEPAGE----> */


body.homepage{

background-image: url(img/homepage.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
background-size: cover;
}


body {
    background-image:url(img/background_space.png);
    /* background-color: #222831; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    background-color: black;

}


h1, h2, h3, h4, h5, h6, p {
    color:#ececec;
    font-family: Roboto,'Open Sans', sans-serif;
}

.card-title {
    font-size: 26px;
}

.title-color {
    color:#fd8c04;
}

.brand-name {
    font-family: JetBrains Mono, Roboto,'Open Sans', sans-serif;
    font-size: 50px;
}
.footer-container {
    background-color:#222831;
}

.btn-primary {
    background-color:#00939b;
    border: 1px solid #00939b;
    border-radius: 10px;
    border: 1px solid #ffffff;
    font-family: Roboto,'Open Sans', sans-serif;
}

.btn-primary:hover {
    background-color: #035f7a;
    border: 1px solid #ffffff;
}


/*<----- LOGIN MODAL-----> */

#home-modal-container {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}


.modal-header, h4, .close {
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

.modal-footer {
    background-color: #f9f9f9;
  }

/* <----- REGISTRATION MODAL-----> */

.modal-header, h4, .close {
    color:white !important;
    text-align: center;
    font-size: 30px;
  }

.modal-footer {
    background-color: #f9f9f9;
  }


#btn-sign-up {
    margin-left: 50px;
    background-color: #00939b;
    color: white;
    font-family: Roboto,'Open Sans', sans-serif;
}

#btn-sign-up:hover {
    color: #f9f9f9;
    border-color: #f9f9f9;
    background-image: radial-gradient( circle 1086px at 1.1% 96.2%,  rgba(1,44,66,1) 0%, rgba(163,221,253,1) 53.6% );
    }


#btn-signin {
border-color: #00939b;
font-weight: 400;
color: #00939b;
font-family: Roboto,'Open Sans', sans-serif;
}

#btn-signin:hover {
    color: #f9f9f9;
    font-weight: 400;
    border-color: #f9f9f9;
    background-image: radial-gradient( circle 1086px at 1.1% 96.2%,  rgba(1,44,66,1) 0%, rgba(163,221,253,1) 53.6% );
    }
    


/* <-------NAV BAR--------> */

#nav {
    background-color: #000000;
    border-bottom: 1px solid white;
}

.navbar-brand {
    font-family: JetBrains Mono, Roboto, sans-serif;

}


/* FLASH MESSAGES */

#flash {
    background-image: linear-gradient( 109.6deg,  rgba(41,125,182,1) 3.6%, rgba(77,58,151,1) 51%, rgba(103,55,115,1) 92.9% );
    color: white;
}


/* <--------HOME------->*/


#countdown {
    font-size: 50px;
    word-spacing: 7px;
    color: #fd8c04;
}

.countdown-text {
    word-spacing: 52px;
}

#main-home-container {
    margin-top: 250px;
}


#home-title-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 200px;

}

#home-countdown-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 10px 3px 15px 5px rgba(0, 0, 0, 0.3), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);

}




/* <----UPCOMING LAUNCHES----> */


#notify-text {
    font-family: Roboto,'Open Sans', sans-serif;
    text-align: center;
    color: black;

}
#notify-button {
    max-width: 300px;
    font-family: Roboto,'Open Sans', sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    color:white;
}



#upcoming-overall-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 10px 6px 20px 0 rgba(0, 0, 0, 0.19);

}


/* MODAL */


.modal-header {
    background-image: radial-gradient( circle 1086px at 1.1% 96.2%,  rgba(1,44,66,1) 0%, rgba(163,221,253,1) 53.6% );
}

.yes-button{
    background-color: #00939b;
}

.modal-body {
    background-color: #fbf6f0;
}
.modal-footer {
    background-image: radial-gradient( circle 1086px at 1.1% 96.2%,  rgba(1,44,66,1) 0%, rgba(163,221,253,1) 53.6% );
}

#home-modal-login {
    background-color: #00939b;
    color: #f9f9f9;
}

#home-modal-register {
    background-color: #00939b;
    color: #f9f9f9;
}

.btn-secondary {
    background-color: #ff5733;
    font-family: Roboto,'Open Sans', sans-serif;
}

#btn-cancel {
    background-color:#f9f9f9;
    border-color: #00939b;
    font-weight: 400;
    color: #00939b;
    font-family: Roboto,'Open Sans', sans-serif;
    }

#btn-cancel:hover {
    color: #f9f9f9;
    font-weight: 400;
    border-color: #f9f9f9;
    background-image: radial-gradient( circle 1086px at 1.1% 96.2%,  rgba(1,44,66,1) 0%, rgba(163,221,253,1) 53.6% );
    }

/* ABOUT */

.logos {
    justify-content: center;
    align-items:center;
}

/* --------------------------------ISSUE */
/* #wrapper {
    /* height: 100%;
    padding-bottom: 100px; */
} */

/* FOOTER */

/* --------------------------------ISSUE */
/* footer {
    height:100px;
    /* min-width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center; */
    /* background-color: #000000; */
    /* position:absolute;
    bottom:0; */
/* 
}  */ 

/* 
.container div > p span {
    color: #00939b;

} */



