{%  extends 'base.html' %}

{% block title %} ABOUT {%endblock%}

{% block body%}

<h1> ABOUT </h1><br>
    <h2>Welcome to Launch Command!</h2>
        <p>Here you will find up to date space flight news, and information on future rocket launches from around the world.  Launch command allows you to track allows all orbital launches and popular sub-orbital launches, from innovative agencies including, SPACEX, NASA, ULA, Arianespace, and ROSCOSMOS, just to name a few. 
        </p>
        <p>
        Keep track of the date and time of upcoming rocket launches, read more about the rockets and missions, and get up-to-date flight status. You also have the option of receiving a text reminder of the time and date of the next exciting launch! Finally, save your favorite launches and news articles for later perusing at your pleasure! 
        </p>

    
        <p>Launch Command currently sources data from an open source library powered by the The Space Devs, a group of engineers and space enthusiasts. The API is a collaborative community tool in constant development and updated daily. Moreover, the news articles are sourced from the open source Spaceflight News API. The website runs on Flask, uses Jinja templating, JavaScript on the frontend, and is styled using CSS and Bootstrap.</p>

<div>
    <h2>About the developer</h2>
        <p> Enid Svymbersky is the developer behind Launch Command, which is her capstone project while attending Hackbright Academy. Ever since Enid laid eyes on Saturn from behind the lens of a giant telescope, when she was just 7 years old, she has been fascinated by space flight to other planets. Launch Command was born out of Enid's own personal interest in software engineering, tracking rocket launches and reading up on the latest mars rover news (she thinks robots are pretty cool).
        </p>
</div>

<div>
    <h2>Contact Info</h2>
        <label>Email</label>
            <p>enid.sky@protonmail.com </p>
        <label>Find me on:</label><br>
            <a class="github" href="https://github.com/Enid-Sky">Github</a></li><br>
            <a class="twitter" href="https://twitter.com/codingsprinkles">Twitter</a></li><br>
            <a class="twitter" href="https://www.linkedin.com/in/enid-svymbersky/">Linkedin</a></li>
</div>






{% endblock%}