{%  extends 'base.html' %}


{% block title %} Homepage {%endblock%}


{%block body%}

<h1>LAUNCH COMMAND</h1>
<h3>Track upcoming rocket launches</h3><br>

<div>
<h2>NEXT LAUNCH IN:</h2>

<H1 id ="demo"></H1>
</div><br>



    <div class="form">
    
        <h2>Log in</h2>
        
        <form action="/login" method="POST">
        
          <label>
            Email Address
            <input type="text" name="email"/>
          </label>

          <label>
            Password
          </label>
          <input type="password" name="password"/>

        
        <button type="submit">Log In</button>

        <p><a href="/register">Register</a></p>
        
        </form>

    </div>
      



    <script src="{{url_for('static', filename='app.js')}}"></script>

{%endblock%}