{%  extends 'base.html' %}



{% block title %} Launch Command {%endblock%}

{%block nav%}{%endblock%}

{%block body %}


<h1>LAUNCH COMMAND</h1>
<h5>Discover upcoming rocket launches and space agency news</h5><br>

<div>
<h2>NEXT LAUNCH:</h2>
<h3 id='rocketName'></h3>
<H1 id="countdown"></H1>
<h5 id='countdownText'>Days Hours Minutes Seconds</h5>
<h3 id='date'></h3>
</div><br>



    <div class="form">
    
        <h2>Log in</h2>
        
        <form action="/login" method="POST">
        
          <label>
            Email Address
            <input type="text" name="email"/>
          </label>

          <label>
            Password
          </label>
          <input type="password" name="password"/>

        
        <button type="submit">Log In</button>

        <p><a href="/register">Register</a></p>
        
        </form>

    </div>
      



    <!-- <script type="text/javascript">
        window.launch = {
          time: '{{ next_launch_start }}'
        }
    </script> -->
        
    <script src="{{url_for('static', filename='app.js')}}"></script>
{%endblock%}
