{%  extends 'base.html' %}



{% block title %} homepage{%endblock%}


{%block body%}


<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Notify
    </button>
    <div class="container">


      
        <!-- The Modal -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Launch Notification</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                Would you like to receive a text reminder regarding the next launch?
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <form>
                <button type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </form> 
              </div>
              
            </div>
          </div>
        </div>
        
      </div>


<div>
    <li class ="nav-item"><a class="nav-link" href="/upcoming">HOME<a></li> 
    <li class ="nav-item"><a class="nav-link" href="/logout">LOGOUT<a></li> 
    <li class ="nav-item"><a class="nav-link" href="/upcoming">UPCOMING LAUNCHES<a></li> 
    <li class ="nav-item"><a class="nav-link" href="/all_news">LATEST NEWS<a></li> 
    <li class ="nav-item"><a class="nav-link" href="/my_news">MY NEWS<a></li> 

</div>

<h1>MY LAUNCHES</h1>

{% for launch in my_launches %}

    <ul>

        <li><img src="{{launch.launch.image}}" width="250"px></li>
        <li>{{launch.launch.name}}</li>
        <li>{{launch.launch.window_start | formatdatetime}}</li>
        <li>Status: {{launch.launch.status_name}}</li>
        <li>{{launch.launch.pad_location}}</li>
        <li><a href="{{launch.launch.wiki_url}}">More info</a></li>

        <form action="/reminders" method="POST">  
            <input type="radio" name="reminder" value="yes">
            <label>Text reminder?</label>
            <button id ="send_reminder" type="submit" value="yes">Send</button>

        </form>

        <form action="/delete_launch" method="POST">
            <input id="launch_name" name="launch_name" type="hidden" value="{{launch.launch.name}}">
                <input id="delete_input" name="delete_launch" type="hidden" value="{{launch.my_launch_id}}">
                    <button id=delete_input type="submit" class="delete" value="{{launch.my_launch_id}}">Delete</button>
        </form> 

    </ul>

    {%else%}
        <h4>No results found.</h4>

{% endfor %}


<script>
    $('#myModal').modal('show');
</script>

{%endblock%}
