{%  extends 'base.html' %}

{% block title %} homepage{%endblock%}


{%block body%}

<div>
    <li class ="nav-item"><a class="nav-link" href="/upcoming">HOME<a></li> 
    <li class ="nav-item"><a class="nav-link" href="/logout">LOGOUT<a></li> 
    <li class ="nav-item"><a class="nav-link" href="/my_launches">MY LAUNCHES<a></li>
    <li class ="nav-item"><a class="nav-link" href="/all_news">LATEST NEWS<a></li>
    <li class ="nav-item"><a class="nav-link" href="/my_news">MY NEWS<a></li> 
</div>

<h1>UPCOMING LAUNCHES</h1>


{% for launch in launches %}

<ul>

    <li><img src="{{launch.image}}" width="250"px></li>
    <li>{{launch.name}}</li>
    <li id="liftoff">{{launch.window_start}}</li>
    <li>{{launch.status_name}}</li>
    <li>{{launch.pad_location}}</li>
    <li><a href="{{launch.wiki_url}}">More info</a></li>

    <form action="/add_launch" method="POST">
    <input id="follow_input" name="launch" type="hidden" value="{{launch.upcomingLaunch_id}}">
    <button id=follow type="submit" class="save" value="{{launch.upcomingLaunch_id}}">Follow</button>
    </form>

</ul>
{% endfor %}

{%endblock%}